body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    

}
.form{
    background-color: rgb(150, 168, 216);
    border: solid 5px rgb(140, 140, 228);
    font-size: 25px;
    text-align: left;
    padding:50px;
    margin-left:25%;
    margin-right:25%;
   
    
}
h1{
    text-align: center;
    background-color:  rgb(150, 168, 216);
    margin-left:25%;
    margin-right:25%;
    padding:10px;
    text-transform: uppercase;
}
}
.fname{
}
#fname{
    font-size: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(92, 92, 112);
    background-color:rgb(228, 234, 238);
    font-family: 'Raleway', sans-serif;
    
    
}
#lname{
    font-size:20px;
    margin-bottom: 20px;
    border: 2px solid rgb(92, 92, 112);
    background-color:rgb(228, 234, 238);
    font-family: 'Raleway', sans-serif;
}
#gmail{
    font-size:20px;
    margin-bottom: 20px;
    border: 2px solid rgb(92, 92, 112);
    background-color:rgb(228, 234, 238);
    font-family: 'Raleway', sans-serif;
}
#phoneno{
    font-size:20px;
    margin-bottom: 20px;
    border: 2px solid rgb(92, 92, 112);
    background-color:rgb(228, 234, 238);
    
}
#varsity{
    font-size:20px;
    margin-bottom: 20px;
    border: 2px solid rgb(92, 92, 112);
    background-color:rgb(228, 234, 238);
    font-family: 'Raleway', sans-serif;
}
#gender{
    font-size: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(92, 92, 112);
    background-color:rgb(228, 234, 238);
    font-family: 'Raleway', sans-serif;
}
#area{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid rgb(92, 92, 112);
    background-color:rgb(228, 234, 238);
    font-family: 'Raleway', sans-serif;
}
#submit{
    font-size: 20px;
    border: 2px solid rgb(92, 92, 112);
    font-family: 'Raleway', sans-serif;
}
.submit :hover{
    color: white;
    background-color: gray;
    font-family: 'Raleway', sans-serif;
}
